@model Pochete.ViewModels.CurrencyConverterVM

@{ ViewData["Title"] = "Home Page"; }

<h1 align="center"><label class="label label-success"> Currency converter </label></h1>
<br/>

<div class="row">

    <!-- Left space -->
    <div class="col-md-4"></div>

    <!-- Central panel -->
    <div class="jumbotron col-md-4 text-center jumbo">

        <!-- Convert form -->
        <form id="ConvertForm" asp-action="Index" class="form-horizontal">
            
            <div class="form-group">

                <!-- Date -->
                @Html.LabelFor(m => m.Date, new { @class = "control-label" })
                @Html.EditorFor(m => m.Date, new { htmlAttributes = new { @class = "form-control" } })

                <!-- Firt currency -->
                @Html.LabelFor(m => m.First_currency, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.First_currency, 
                                           new SelectList(Model.Currencies), 
                                           "Select a currency", 
                                           new { @class = "form-control" })

                <!-- Second currency -->
                @Html.LabelFor(m => m.Second_currency, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.Second_currency, 
                                           new SelectList(Model.Currencies), 
                                           "Select a currency", 
                                           new { @class = "form-control" })

                <!-- Amount -->
                @Html.LabelFor(m => m.Amount, new { @class = "control-label" })
                @Html.EditorFor(m => m.Amount, new { htmlAttributes = new { @class="form-control" } })
                
            </div>

            <!-- Submit button -->
            <div>
                <button type="submit" name="Submit" class="btn btn-default btn-lg btn-block">Convert</button>
            </div>
        </form>
        
        <!-- Resultado -->
        <div class="text-center">
            <h2><label class="label label-success" id="result"></label></h2>
        </div>

    </div>

    <!-- Right space -->
    <div class="col-md-4"></div>

</div>

@section scripts
{
<script type="text/javascript">
$(document).ready(function () {
        $("#ConvertForm").submit(function () {
            $.ajax({
                type: "POST",
                url: "/CurrencyConverter/Converter",
                data: $("#ConvertForm").serialize(),
                cache: false,
                dataType: "json",
                success: function (result) {
                    $("#result").empty();
                    $("#result").html(result.final_value);
                },
                error: function (result) {
                    alert("Ups, something went wrong :'(");
                }
            });
          return false;
        });
    });

</script>
}